// Font family
$font: 'Be Vietnam Pro', sans-serif;

// default font size
$f-size: 1rem;

// Weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Button styles
$btn-padding: 0 2rem 0 2rem;
