@use "../base/variables" as *;

$breakpoints: (
  'sm': 23.4375rem,
  'md': 62rem,
  'lg': 90rem,
);

@mixin respond-to($width) {
  @if map-has-key($breakpoints, $width) {
    @media (min-width: map-get($breakpoints, $width)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

// Font weight, Font size and Line height mixin
@mixin fonts($props) {
  $fw: if(map-has-key($props, font-weight), map-get($props, font-weight), $bold);
  $fs: map-get($props, font-size);
  $lh: map-get($props, line-height);

  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}