@use '../utils/' as *;
@use '../base/' as *;

.convpanel {
    background-color: $bright-red;
    color: $bg-color;
    width: 100%;
    text-align: center;
    padding: 5.6875rem 1.9375rem 5.6875rem 2rem;
    background-image: url('/images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: -0.9375rem;

    & > h2 {
        font-size: 2.5rem;
        padding-bottom:  1.8125rem;
        letter-spacing: -0.0625rem;
        max-width: 19.5rem;
    }
}