@use '../utils/' as *;
@use '../base/' as *;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 2.5625rem;

    @include respond-to('lg') {
        padding-top: 3.5rem;
        color: $dark-blue;
        background-image: url('/images/bg-simplify-section-desktop.svg');
    }

    &__logo {
        max-width: 6.875rem;
    }

    &__nav {

        &__mobileNav {

            & > img {
                cursor: pointer;
                display: none;
            }

            &--menu {
                display: none;
                position: absolute;
                top: 0;
                left: -24px;
                z-index: 2;
                height: 100vh;
                width: 100vw;
                transition: display 0.3s ease;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);

                & > img {
                    position: absolute;
                    top: 38px;
                    right: 26px;
                    cursor: pointer;
                }

                &-item {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    margin: 6.4375rem 1.625rem 0 1.5rem;
                    padding: 2.5rem 0rem;
                    text-align: center;
                    background-color: white;
                    @include fonts($list);
                    color: $dark-blue;

                    & > li:hover {
                        color: $dark-greyish-blue;
                    }
                }
            }

    }

        @include respond-to('lg') {

            .mobileNav {
                display: none;
            }
        }

        .navItem {
            display: none;

            @include respond-to('lg') {
                display: flex;
                flex-direction: row;
                @include fonts($nav);
            }

            & > li:hover {
                opacity: 0.5;
            }
        }
    }

    &__cta {
        display: none;

        @include respond-to('lg') {
            display: inline-block;
        }
    }
}